@using Microsoft.AspNetCore.Identity;
@using ReDoMusic.Domain.Entites;
@inject UserManager<AppUser> _userManager
@model List<Brand>

<div class="container mt-3">
    <h2>Brands</h2>
    <table class="table table-dark table-hover">
        <thead>
            <tr>
                <th>Title</th>
                <th>Desc.</th>
                <th>Address</th>
                @if (User.IsInRole("Admin"))
                {
                    <th>Delete</th>
                }
                else 
                {
                    <th>Add to Basket</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var brand in Model)
            {
                
                <tr>
                    <td>@brand.Name</td>
                    <td>@brand.DisplayText</td>
                    <td>@brand.Address</td>

                    @if (User.IsInRole("Admin"))
                    {
                        <td><a asp-controller="Brand" asp-action="DeleteBrand" asp-route-id="@brand.Id" class="btn btn-outline-info">Delete</a></td>
                    }
                    else 
                    {
                        <td><a asp-controller="Basket" asp-action="AddToBasket" class="btn btn-outline-info">Add To Basket</a></td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>