@model List<ReDoMusic.Domain.Entites.Order>

<h2>User Orders</h2>

<table class="table">
    <thead>
        <tr>
            <th>Order Content</th>
            <th>Shipping Address</th>
            <th>Payment Method</th>
            <th>Order Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>
                    <ul>
                        @foreach (var item in order.OrderItems.Items)
                        {
                            <li>@item.Instrument.Name</li>
                        }
                    </ul>
                </td>
                <td>@order.ShippingAddress</td>
                <td>@order.PaymentMethod</td>
                <td>@order.OrderDate</td>
            </tr>
        }
    </tbody>
</table>
